*{
    font-size: 16px;
    font-family: monospace;
    background-color: lightgray;
    margin: 0px;
}

.navbar {
    display:flex;
    justify-content: space-between;
    background-color:blue;
    align-items: center;
}

h1 {
    background-color: lightgray;
    font-size: 30px;
    margin: 0px;
    padding: 10px;
}
.navbar ul{
    display: flex;
    list-style-type: none;
    text-decoration: underline;
    justify-content: space-between;
}

.navbar ul li {
    padding: 10px;
    font-weight: bolder;

}
.navbar ul li a {
        font-size: 25px;
        color: black;

}
.navbar ul li a:hover {
    background-color:lightgray;
    box-shadow: 5px 5px 5px 5px blue;
    border:solid 5px lightgray;
    color:black;
    cursor: grab;
}

#banner{
    display: flex;
    justify-content: right;
    background-image: url(Assets/banner-jpeg.jpg);
    background-position: center;
    min-height: 100px;
    min-width: 100%;  
    align-items: flex-end;
    margin-bottom: 20px;
}
.banner-text {
    display:flex;
    justify-content: flex-end;
    margin: 0px;
    background-color: lightgray;
    font-size: 30px;
    padding-left: 5px;
}
#about-me, #work, #contact-me{
    margin-bottom: 20px;
}
#description {
    display:flex;
    flex-wrap: wrap;
    margin-left: 110px;
    padding-left: 50px;
    padding-right: 50px;
    border-left:solid 5px black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
    position: relative;
}

.special-psuedo {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    border-left: solid 5px black;
    min-width: 85%;
    margin-left: 110px;
    margin-right: 0px;
    margin-bottom: 10px;
    padding-left: 50px;
}

.psuedo {
    display:flex;
    background-color: lightgray;
    border-left: solid 5px black;
    width: 525px;
    height:400px;
    margin-left: 110px;
    margin-right: 0px;
    position: relative;
    padding-left: 50px;
   
}
      
.special-psuedo:hover{
    opacity: 80%;
    box-shadow: inset 5px 5px 5px 5px lightblue;
    border: solid 5px navy;
}
.psuedo:hover{
    opacity: 80%;
    box-shadow: inset 5px 5px 5px 5px lightblue;
    border: solid 5px navy;
}
.special-tag {
    margin: 0px;
    padding: 0px;
    position:absolute;
    left: 200px;
    bottom:15px;
    font-size: 40px;
}
.special-tag2{
    margin: 0px;
    padding: 0px;
    position: absolute;
    left:16%;
    bottom:20%;
    font-size: 30px;
}
.image-tag {
    font-size: 40px;
    margin: 0px;
    padding: 0px;
    position: absolute;
    left: 25%;
    bottom: 25%;
   
}
.image-tag2 {
    font-size: 30px;
    margin: 0px;
    padding: 0px;
    position: absolute;
    left: 25%;
    bottom: 15%;
}

.images{
    display:inline-block;
    position: relative;
    padding: 0px;
    border: solid 3px lightblue;
}
@media screen and (max-width:1080px) {
    .psuedo{
    max-width: 300px;
    max-height: 300px; 
} 
.special-psuedo{
    min-width: 80%;
}};
@media screen and (max-width:720px) {
    .psuedo{
    max-width: 200px;
    max-height: 200px; 
}
.image-tag2,.special-tag2{
    font-size: 10px;
}
footer h4{
    font-size: 15px;
    display: none;
    margin: 0px;
    padding: 0px;
}
#contact-me {
    display: block;
    justify-content: space-around
}};
#contact-me {
    display:flex;
    justify-content:space-between;
    align-items: center;
    padding-right: 10px;
    margin-right: 50px; 
}
footer h4{
    padding-left: 300px;
    display: inline;
    justify-content: right;
}
footer h4:hover{
    text-decoration: underline;
}

.tags {
    font-size: 20px;
    flex-direction: column;
    justify-content:flex-start;
    align-items: stretch;
    position: absolute;
}

