*{
    font-size: 16px;
    font-family: monospace;
}

.navbar {
    display:flex;
    justify-content: space-between;
    background-color:blue;
    align-items: center;
}

h1 {
    background-color: lightgray;
    font-size: 30px;
    margin: 0px;
    padding: 10px;
}
.navbar ul{
    display: flex;
    list-style-type: none;
    text-decoration: underline;
    justify-content: space-between;
}

.navbar ul li {
    padding: 10px;
    margin-right: 20px;
    font-weight: bolder;

}
.navbar ul li a {
        font-size: 25px;
        color: lightgray;

}
.navbar ul li a:hover {
    background-color:lightgray;
    box-shadow: 5px 5px 5px 5px blue;
    border:solid 5px lightgray;
    color:black;
    cursor: grab;
}

#banner{
    background-image: url(Assets/banner-jpeg.jpg);
    background-position: center;
    min-height: 100px;
    min-width: 100%;  
}
.banner-text {
    display:flex;
    justify-content: right;
    margin: 0px;
    right: 0px;
    bottom: 0px;
  
}

#description {
    display:flex;
    padding-left: 50px;
    border-left:solid 5px black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
}

.work {
    
    flex-direction: row;
}
.images {

    flex-direction: row
}

.special-psuedo {
    display: flex;
    flex-direction: row wrap;
    border-left: solid 5px black;
    min-width: 800px;

}

.psuedo {
    background-color: blue;
    border-left: solid 5px black;
    width: 400px;
    
}
.special-psuedo:hover{
    opacity: 80%;
    box-shadow: inset 5px 5px 5px 5px snow;
    border: solid 5px navy;
}
.psuedo:hover{
    opacity: 80%;
    box-shadow: inset 5px 5px 5px 5px snow;
    border: solid 5px navy;
}

footer {
    display:flex;
    justify-content:space-between;
    align-items: center;
    padding-right: 10px;
    margin-right: 50px;
   
}
footer h4:hover{
    text-decoration: underline;
}

#tags {
    font-size: 25px;
    display: flex;
    left: 0px;
    padding-right: 80px;
    flex-direction: column;
    justify-content: center;
}
