*{
    font-size: 16px;
    font-family: monospace;
}
.navbar {
    display:flex;
    justify-content: space-between;
    background-color:blue;
    align-items: center;
}

.navbar ul{
    display: flex;
    list-style-type: none;
    text-decoration: underline;
    justify-content: space-between;
    
   
}
h1 {
    background-color: purple;
    font-size: 30px;
    margin: 0px;
    padding: 10px;
    color:seashell;
}

.navbar ul li {
padding: 10px;
margin-right: 20px;
font-weight: bolder;
}
.navbar ul li a {
    font-size: 25px;
    color: purple;
}
.navbar ul li a:hover {
background-color:purple;
box-shadow:black;
border:solid 5px black;
color:white;

}

#banner{
    display: flex;
    background-image: url(Assets/banner-jpeg.jpg);
    background-position: center;
    min-height: 100px;
    min-width: 100%;
}

#tags {
    float: left;
    padding-right: 80px;

}
#description {
    display:flex;
    padding-left: 50px;
    border-left:solid 5px black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: inherit;
}

#special-psuedo {
    min-height: 20%;
    min-width: 80%;
}

.psuedo {
    max-width:100px;
    max-height:100px;
}
#special-psuedo:hover{
    opacity: 80%;
}
.psuedo:hover{
    opacity: 80%;
}
.contact-me h4 {
    float: right;
    justify-content: space-between;
}
.contact-me p {

}

  